<%- contentFor('body') %>
<h1>EJS</h1>



<form action="/about" method="POST">
	<label>Test Post form</label>
	<input type="text" name="name">
	<button type="submit">send</button>
</form>

<%  for (user of users ) { %>
<div>
	<div><%= user.name %> </div>
	<img src="<%= user.avatar %>" width="200" alt="">
</div>
<% } %>

<%- contentFor('someimg') %>