<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>First Node Project</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900" rel="stylesheet">
	<link rel="icon" type="image/png" href="./favicon.png" />
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<a href="/page">/page</a>
	<a href="/about">/about</a>

	<div class="centerBlock">
		<a href="/"><img src="https://png.icons8.com/color/1600/nodejs.png" width="200" alt=""></a>
		<%- body %>
	</div>

	<!-- что если нет такого шаблона? someimg как написать isset? -->
	<%- someimg %>

	<div class="footer" style="background: #333; color: #fff;">
		<h1>Footer</h1>
	</div>

	
</body>
<script>
	var el = document.getElementById("btn");
	el.addEventListener("click", function(){
		console.log('go');
	});
</script>
</html>